body{
    background-color: rgb(143, 64, 64);
    font-family: 'Courier New', Courier, monospace;
}
fieldset{
    width:500px;
    height:420px;
    color: white;
    position: relative;
    margin-left: 400px;
    margin-top: 100px;
    
    background:rgb(74, 173, 140);
    border-radius: 10px; 
    box-shadow: 5px 5px 5px black;

}
.button{
    background-color: rgb(83, 81, 81);
    width: 50px;
    color: blanchedalmond;
    height: 50px;
}
#demo{
    color: black;
    font-weight: 800;
    font-size: 11px;
}
.paye{
    width: 50px;
    height: 25px;
    border: 1px solid black;
    position: relative;
    margin-top: 300px;
}
.ecran{
    border: px solid black;
    border-radius: 20px;
    
    height: 300px;
}
.aaa{
    width: 200px;
    height: 50px;
}
.trait{
    border: 1px solid black;
    width: 500px;
    height: 0px;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    fieldset{
        width:300px;
        height:500px;
        color: white;
        position: relative;
        margin-left:60px;
        background:rgb(74, 173, 140);
        border-radius: 20px;
        
    
    }
    .button{
        background-color: rgb(83, 81, 81);
        width: 80px;
        color: blanchedalmond;
    }
    #demo{
        color: rgb(167, 42, 42);
        font-weight: 800;
    }
  }